body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: #fff;
    padding: 20px;
    color: #000;
}

section {
    margin-bottom: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
